<div class="w-full">
  <%= image_tag "store.png", class: "w-full h-98 object-cover" %>
  <h1 class="font-bold text-4xl">Welcome to my store</h1>
  <p>Your best option for making your purchase</p>
</div>
